@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  max-width: none;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
  }
}
